In [97]:
!pip install vitaldb

Requirement already satisfied: vitaldb in /usr/local/lib/python3.10/dist-packages (1.4.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from vitaldb) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from vitaldb) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from vitaldb) (2.27.1)
Requirement already satisfied: wfdb in /usr/local/lib/python3.10/dist-packages (from vitaldb) (4.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->vitaldb) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->vitaldb) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (3.4)
Requirement already satisfied: SoundFile>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from wfdb->vitaldb) (0.12.1)
Requirement already satisfied: matplotlib>=3.2.2 in /usr/local/lib/python3.10/dist-packages (from wfdb->vitaldb) (3.7.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wfdb->vitaldb) (1.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->vitaldb) (1.16.0)
Requirement already satisfied: cffi>=1.0 in /usr/local/lib/python3.10/dist-packages (from SoundFile>=0.10.0->wfdb->vitaldb) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0->SoundFile>=0.10.0->wfdb->vitaldb) (2.21)

In [98]:
!wget https://vitaldb.net/samples.zip
!unzip samples.zip

--2023-07-10 19:48:50--  https://vitaldb.net/samples.zip
Resolving vitaldb.net (vitaldb.net)... 15.197.255.47
Connecting to vitaldb.net (vitaldb.net)|15.197.255.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 104335514 (100M) [application/zip]
Saving to: ‘samples.zip.3’

samples.zip.3       100%[===================>]  99.50M  28.0MB/s    in 4.3s

2023-07-10 19:48:56 (23.0 MB/s) - ‘samples.zip.3’ saved [104335514/104335514]

Archive:  samples.zip
replace 1-1.vital? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [99]:
import vitaldb
trks = vitaldb.vital_trks('4.vital')
trks

['EVENT',
 'SNUADC/ART',
 'SNUADC/ECG_II',
 'SNUADC/PLETH',
 'Solar8000/HR',
 'Solar8000/ST_II',
 'Solar8000/ART_MBP',
 'Solar8000/ART_SBP',
 'Solar8000/ART_DBP',
 'Solar8000/ETCO2',
 'Solar8000/INCO2',
 'Solar8000/RR_CO2',
 'Solar8000/FEO2',
 'Solar8000/FIO2',
 'Solar8000/PLETH_SPO2',
 'Solar8000/PLETH_HR',
 'Solar8000/BT',
 'Solar8000/VENT_INSP_TM',
 'Solar8000/VENT_RR',
 'Solar8000/VENT_MV',
 'Solar8000/VENT_TV',
 'Solar8000/VENT_PIP',
 'Solar8000/VENT_PPLAT',
 'Solar8000/VENT_MAWP',
 'Solar8000/RR',
 'Solar8000/GAS2_AGENT',
 'Solar8000/GAS2_EXPIRED',
 'Solar8000/GAS2_INSPIRED',
 'Primus/CO2',
 'Primus/AWP',
 'Primus/COMPLIANCE',
 'Primus/INSP_SEVO',
 'Primus/EXP_SEVO',
 'Primus/PAMB_MBAR',
 'Primus/MAWP_MBAR',
 'Primus/PPLAT_MBAR',
 'Primus/PEEP_MBAR',
 'Primus/PIP_MBAR',
 'Primus/TV',
 'Primus/MAC',
 'Primus/VENT_LEAK',
 'Primus/MV',
 'Primus/RR_CO2',
 'Primus/FLOW_N2O',
 'Primus/FLOW_AIR',
 'Primus/FLOW_O2',
 'Primus/INCO2',
 'Primus/ETCO2',
 'Primus/FEO2',
 'Primus/FIO2',
 'Primus/FIN2O',
 'Primus/FEN2O',
 'Primus/SET_FIO2',
 'Primus/SET_TV_L',
 'Primus/SET_INSP_TM',
 'Primus/SET_RR_IPPV',
 'Primus/SET_INTER_PEEP',
 'Primus/SET_PIP',
 'Primus/SET_INSP_PAUSE',
 'Primus/SET_FRESH_FLOW',
 'Primus/SET_AGE',
 'Primus/SET_FLOW_TRIG',
 'Orchestra/RFTN20_RATE',
 'Orchestra/RFTN20_VOL',
 'Orchestra/RFTN20_CP',
 'Orchestra/RFTN20_CE',
 'Orchestra/RFTN20_CT',
 'BIS/EEG1_WAV',
 'BIS/EEG2_WAV',
 'BIS/SR',
 'BIS/SEF',
 'BIS/BIS',
 'BIS/TOTPOW',
 'BIS/EMG',
 'BIS/SQI']

In [100]:
vf2 = vitaldb.VitalFile('4.vital')

In [101]:
req_cols_list=['SNUADC/ART','SNUADC/ECG_II','Solar8000/VENT_RR',
 'Solar8000/VENT_MV',
 'Solar8000/VENT_TV','Orchestra/RFTN20_RATE',
 'Orchestra/RFTN20_VOL']

In [102]:
vf = vitaldb.VitalFile(len(req_cols_list), req_cols_list)

samples = vf.to_numpy(req_cols_list, len(req_cols_list)/100)
samples[2000]

array([-3.8724  ,  0.573499,       nan,       nan,       nan,       nan,
             nan], dtype=float32)

In [103]:
import pandas as pd
df = pd.DataFrame(samples)

In [104]:
df.head()

         0        1   2   3   4   5   6
0 -2.88494 -1.06568 NaN NaN NaN NaN NaN
1      NaN      NaN NaN NaN NaN NaN NaN
2      NaN      NaN NaN NaN NaN NaN NaN
3      NaN      NaN NaN NaN NaN NaN NaN
4      NaN      NaN NaN NaN NaN NaN NaN

In [105]:
print(f"Number of non-NULL values: {-df.isna().sum().sum() + df.size} | Total Number of Values: {df.size}")
print(f"Ratio of Non-NULL values to total number of values: {(-df.isna().sum().sum() + df.size)*100//(df.size)}%")

Number of non-NULL values: 504822 | Total Number of Values: 1576925
Ratio of Non-NULL values to total number of values: 32%

In [106]:
print(f"Nan percentage per column:\n {((df.isna().sum()/df.shape[0])*100)}")

Nan percentage per column:
 0     0.096327
1     0.096327
2    96.915326
3    96.915326
4    96.931750
5    92.476751
6    92.476751
dtype: float64

In [107]:
columns_with_all_nan = df.columns[df.isna().all()]
columns_with_all_nan

Int64Index([], dtype='int64')

In [108]:
df_filled = df.fillna(method='ffill')
df_filled

              0         1    2    3      4    5       6
0      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
1      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
2      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
3      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
4      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
...         ...       ...  ...  ...    ...  ...     ...
225270 -5.84731 -0.048599  4.0  0.4  151.0  0.0  88.722
225271 -5.84731 -0.058473  4.0  0.4  151.0  0.0  88.722
225272 -4.85986 -0.048599  4.0  0.4  151.0  0.0  88.722
225273 -4.85986 -0.048599  4.0  0.4  151.0  0.0  88.722
225274 -5.84731 -0.048599  4.0  0.4  151.0  0.0  88.722

[225275 rows x 7 columns]

In [109]:
df_filled = df_filled.dropna()
df_filled

              0         1    2    3      4      5       6
18353   3.03980 -0.048599  0.0  0.0  893.0  400.0   0.843
18354   3.03980 -0.038724  0.0  0.0  893.0  400.0   0.843
18355   3.03980 -0.038724  0.0  0.0  893.0  400.0   0.843
18356   3.03980 -0.048599  0.0  0.0  893.0  400.0   0.843
18357   3.03980 -0.028849  0.0  0.0  893.0  400.0   0.843
...         ...       ...  ...  ...    ...    ...     ...
225270 -5.84731 -0.048599  4.0  0.4  151.0    0.0  88.722
225271 -5.84731 -0.058473  4.0  0.4  151.0    0.0  88.722
225272 -4.85986 -0.048599  4.0  0.4  151.0    0.0  88.722
225273 -4.85986 -0.048599  4.0  0.4  151.0    0.0  88.722
225274 -5.84731 -0.048599  4.0  0.4  151.0    0.0  88.722

[206922 rows x 7 columns]

In [110]:
print(f"Nan percentage per column:\n {((df_filled.isna().sum()/df_filled.shape[0])*100)}")

Nan percentage per column:
 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from keras.models import Model
from keras.layers import Input, Embedding, Conv1D, LSTM, MaxPooling1D, Flatten, Dense
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split


X = df_filled.iloc[:, 5:7].values

# Padding the input sequences to a larger length
X = pad_sequences(X, maxlen=10)

X = X.reshape((X.shape[0], X.shape[1], 1))

# Extract the target features Y from columns 0 to 4
Y = df_filled.iloc[:, 0:5].values

# Split the data into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Define the input layer
input_layer = Input(shape=(X.shape[1], X.shape[2]))

# Convolutional layer
conv_layer = Conv1D(filters=32, kernel_size=3, strides=1, activation='relu')(input_layer)

# Max pooling layer
pooling_layer = MaxPooling1D(pool_size=2)(conv_layer)

# LSTM layer
lstm_layer = LSTM(units=64)(pooling_layer)

# Flatten layer
flatten_layer = Flatten()(lstm_layer)

# Dense layers
dense_layer1 = Dense(units=64, activation='relu')(flatten_layer)
dense_layer2 = Dense(units=Y.shape[1], activation='softmax')(dense_layer1)


model = Model(inputs=input_layer, outputs=dense_layer2)

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])


model.fit(X_train, Y_train, epochs=10, batch_size=32)

# Evaluating the model on the test set
loss, accuracy = model.evaluate(X_test, Y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

In [111]:
req_cols_list = ['SNUADC/ART','SNUADC/ECG_II','Solar8000/ART_DBP','Solar8000/ART_MBP','Solar8000/ART_SBP','Solar8000/CVP','Solar8000/ETCO2','Solar8000/HR','Solar8000/INCO2','Solar8000/PA_DBP','Solar8000/PA_MBP','Solar8000/PA_SBP','Solar8000/PLETH_SPO2','Solar8000/RR','Solar8000/ST_II','Solar8000/VENT_MAWP','Solar8000/VENT_RR','Solar8000/VENT_SET_PCP','Solar8000/VENT_SET_TV','Primus/ETCO2','Primus/FLOW_AIR','Primus/FLOW_N2O','Primus/FLOW_O2','Primus/MAWP_MBAR','Primus/PEEP_MBAR','Primus/SET_FIO2','Primus/SET_FRESH_FLOW','Primus/SET_INTER_PEEP','EV1000/ART_MBP','Orchestra/EPI_RATE','Orchestra/DOPA_RATE','Orchestra/PPF20_CT']

In [112]:
df_filled.head()

            0         1    2    3      4      5      6
18353  3.0398 -0.048599  0.0  0.0  893.0  400.0  0.843
18354  3.0398 -0.038724  0.0  0.0  893.0  400.0  0.843
18355  3.0398 -0.038724  0.0  0.0  893.0  400.0  0.843
18356  3.0398 -0.048599  0.0  0.0  893.0  400.0  0.843
18357  3.0398 -0.028849  0.0  0.0  893.0  400.0  0.843

In [113]:
df_filled.columns = ['SNUADC/ART','SNUADC/ECG_II','Solar8000/VENT_RR',
 'Solar8000/VENT_MV',
 'Solar8000/VENT_TV','Orchestra/RFTN20_RATE',
 'Orchestra/RFTN20_VOL']
df_filled.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV,Orchestra/RFTN20_RATE,Orchestra/RFTN20_VOL
18353,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18354,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18355,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18356,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18357,3.0398,-0.028849,0.0,0.0,893.0,400.0,0.843

In [114]:
y = df_filled.drop(columns=['Orchestra/RFTN20_RATE','Orchestra/RFTN20_VOL'])
y.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV
18353,3.0398,-0.048599,0.0,0.0,893.0
18354,3.0398,-0.038724,0.0,0.0,893.0
18355,3.0398,-0.038724,0.0,0.0,893.0
18356,3.0398,-0.048599,0.0,0.0,893.0
18357,3.0398,-0.028849,0.0,0.0,893.0

In [115]:
print(len(y))
y = y.iloc[1:]
print(len(y))

206922
206921

In [116]:
y.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV
18354,3.0398,-0.038724,0.0,0.0,893.0
18355,3.0398,-0.038724,0.0,0.0,893.0
18356,3.0398,-0.048599,0.0,0.0,893.0
18357,3.0398,-0.028849,0.0,0.0,893.0
18358,3.0398,-0.038724,0.0,0.0,893.0

In [117]:
y.tail()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV
225270,-5.84731,-0.048599,4.0,0.4,151.0
225271,-5.84731,-0.058473,4.0,0.4,151.0
225272,-4.85986,-0.048599,4.0,0.4,151.0
225273,-4.85986,-0.048599,4.0,0.4,151.0
225274,-5.84731,-0.048599,4.0,0.4,151.0

In [118]:
X = df_filled
X.columns

Index(['SNUADC/ART', 'SNUADC/ECG_II', 'Solar8000/VENT_RR', 'Solar8000/VENT_MV',
       'Solar8000/VENT_TV', 'Orchestra/RFTN20_RATE', 'Orchestra/RFTN20_VOL'],
      dtype='object')

In [119]:
X.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV,Orchestra/RFTN20_RATE,Orchestra/RFTN20_VOL
18353,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18354,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18355,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18356,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18357,3.0398,-0.028849,0.0,0.0,893.0,400.0,0.843

In [120]:
len(X)

206922

In [121]:
to_add = X[['Orchestra/RFTN20_RATE', 'Orchestra/RFTN20_VOL']]
len(to_add)

206922

In [122]:
# X = X.drop(columns=[['Orchestra/RFTN20_RATE', 'Orchestra/RFTN20_VOL']])
X.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV,Orchestra/RFTN20_RATE,Orchestra/RFTN20_VOL
18353,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18354,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18355,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18356,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18357,3.0398,-0.028849,0.0,0.0,893.0,400.0,0.843

In [123]:
X = X.iloc[:len(X) - 1]
print(len(X))
X.tail()

206921

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV,Orchestra/RFTN20_RATE,Orchestra/RFTN20_VOL
225269,-5.84731,-0.058473,4.0,0.4,151.0,0.0,88.722
225270,-5.84731,-0.048599,4.0,0.4,151.0,0.0,88.722
225271,-5.84731,-0.058473,4.0,0.4,151.0,0.0,88.722
225272,-4.85986,-0.048599,4.0,0.4,151.0,0.0,88.722
225273,-4.85986,-0.048599,4.0,0.4,151.0,0.0,88.722

In [124]:
len(X) == len(y)

True

In [125]:
X.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV,Orchestra/RFTN20_RATE,Orchestra/RFTN20_VOL
18353,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18354,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18355,3.0398,-0.038724,0.0,0.0,893.0,400.0,0.843
18356,3.0398,-0.048599,0.0,0.0,893.0,400.0,0.843
18357,3.0398,-0.028849,0.0,0.0,893.0,400.0,0.843

In [126]:
X.tail()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV,Orchestra/RFTN20_RATE,Orchestra/RFTN20_VOL
225269,-5.84731,-0.058473,4.0,0.4,151.0,0.0,88.722
225270,-5.84731,-0.048599,4.0,0.4,151.0,0.0,88.722
225271,-5.84731,-0.058473,4.0,0.4,151.0,0.0,88.722
225272,-4.85986,-0.048599,4.0,0.4,151.0,0.0,88.722
225273,-4.85986,-0.048599,4.0,0.4,151.0,0.0,88.722

In [127]:
y.head()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV
18354,3.0398,-0.038724,0.0,0.0,893.0
18355,3.0398,-0.038724,0.0,0.0,893.0
18356,3.0398,-0.048599,0.0,0.0,893.0
18357,3.0398,-0.028849,0.0,0.0,893.0
18358,3.0398,-0.038724,0.0,0.0,893.0

In [128]:
y.tail()

,SNUADC/ART,SNUADC/ECG_II,Solar8000/VENT_RR,Solar8000/VENT_MV,Solar8000/VENT_TV
225270,-5.84731,-0.048599,4.0,0.4,151.0
225271,-5.84731,-0.058473,4.0,0.4,151.0
225272,-4.85986,-0.048599,4.0,0.4,151.0
225273,-4.85986,-0.048599,4.0,0.4,151.0
225274,-5.84731,-0.048599,4.0,0.4,151.0

In [129]:
X.shape, y.shape

((206921, 7), (206921, 5))

In [132]:
from tensorflow.python.eager.context import num_gpus
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()

num_epochs=100

for epoch in range(num_epochs):
  model.fit(X_train, y_train)
  y_preds = model.predict(X_test)

  mse = mean_squared_error(y_test, y_preds)
  r2 = r2_score(y_test, y_preds)
  print(f"Epoch: {epoch + 1} | Mean_Squared_Error: {mse:.4f} | R2: {r2:.4f}")

Epoch: 1 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 2 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 3 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 4 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 5 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 6 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 7 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 8 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 9 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 10 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 11 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 12 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 13 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 14 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 15 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 16 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 17 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 18 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 19 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 20 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 21 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 22 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 23 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 24 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 25 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 26 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 27 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 28 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 29 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 30 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 31 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 32 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 33 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 34 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 35 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 36 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 37 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 38 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 39 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 40 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 41 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 42 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 43 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 44 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 45 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 46 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 47 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 48 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 49 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 50 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 51 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 52 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 53 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 54 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 55 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 56 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 57 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 58 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 59 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 60 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 61 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 62 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 63 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 64 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 65 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 66 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 67 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 68 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 69 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 70 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 71 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 72 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 73 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 74 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 75 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 76 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 77 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 78 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 79 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 80 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 81 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 82 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 83 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 84 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 85 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 86 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 87 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 88 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 89 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 90 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 91 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 92 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 93 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 94 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 95 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 96 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 97 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 98 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 99 | Mean_Squared_Error: 46.1557 | R2: 0.8064
Epoch: 100 | Mean_Squared_Error: 46.1557 | R2: 0.8064