In [1]:
!pip install vitaldb

Collecting vitaldb
  Downloading vitaldb-1.4.2-py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.0/55.0 kB 6.6 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from vitaldb) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from vitaldb) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from vitaldb) (2.27.1)
Collecting wfdb (from vitaldb)
  Downloading wfdb-4.1.2-py3-none-any.whl (159 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.0/160.0 kB 22.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->vitaldb) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->vitaldb) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->vitaldb) (3.4)
Requirement already satisfied: SoundFile>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from wfdb->vitaldb) (0.12.1)
Requirement already satisfied: matplotlib>=3.2.2 in /usr/local/lib/python3.10/dist-packages (from wfdb->vitaldb) (3.7.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wfdb->vitaldb) (1.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.2.2->wfdb->vitaldb) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->vitaldb) (1.16.0)
Requirement already satisfied: cffi>=1.0 in /usr/local/lib/python3.10/dist-packages (from SoundFile>=0.10.0->wfdb->vitaldb) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0->SoundFile>=0.10.0->wfdb->vitaldb) (2.21)
Installing collected packages: wfdb, vitaldb
Successfully installed vitaldb-1.4.2 wfdb-4.1.2

In [2]:
!wget https://vitaldb.net/samples.zip
!unzip samples.zip

--2023-07-10 14:44:08--  https://vitaldb.net/samples.zip
Resolving vitaldb.net (vitaldb.net)... 15.197.255.47
Connecting to vitaldb.net (vitaldb.net)|15.197.255.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 104335514 (100M) [application/zip]
Saving to: ‘samples.zip’

samples.zip         100%[===================>]  99.50M  27.3MB/s    in 4.4s

2023-07-10 14:44:14 (22.5 MB/s) - ‘samples.zip’ saved [104335514/104335514]

Archive:  samples.zip
  inflating: 1-1.vital
  inflating: 1-2.vital
  inflating: 1.vital
  inflating: 2.vital
  inflating: 3.vital
  inflating: 4.vital

In [3]:
import vitaldb
trks = vitaldb.vital_trks('4.vital')
trks

['EVENT',
 'SNUADC/ART',
 'SNUADC/ECG_II',
 'SNUADC/PLETH',
 'Solar8000/HR',
 'Solar8000/ST_II',
 'Solar8000/ART_MBP',
 'Solar8000/ART_SBP',
 'Solar8000/ART_DBP',
 'Solar8000/ETCO2',
 'Solar8000/INCO2',
 'Solar8000/RR_CO2',
 'Solar8000/FEO2',
 'Solar8000/FIO2',
 'Solar8000/PLETH_SPO2',
 'Solar8000/PLETH_HR',
 'Solar8000/BT',
 'Solar8000/VENT_INSP_TM',
 'Solar8000/VENT_RR',
 'Solar8000/VENT_MV',
 'Solar8000/VENT_TV',
 'Solar8000/VENT_PIP',
 'Solar8000/VENT_PPLAT',
 'Solar8000/VENT_MAWP',
 'Solar8000/RR',
 'Solar8000/GAS2_AGENT',
 'Solar8000/GAS2_EXPIRED',
 'Solar8000/GAS2_INSPIRED',
 'Primus/CO2',
 'Primus/AWP',
 'Primus/COMPLIANCE',
 'Primus/INSP_SEVO',
 'Primus/EXP_SEVO',
 'Primus/PAMB_MBAR',
 'Primus/MAWP_MBAR',
 'Primus/PPLAT_MBAR',
 'Primus/PEEP_MBAR',
 'Primus/PIP_MBAR',
 'Primus/TV',
 'Primus/MAC',
 'Primus/VENT_LEAK',
 'Primus/MV',
 'Primus/RR_CO2',
 'Primus/FLOW_N2O',
 'Primus/FLOW_AIR',
 'Primus/FLOW_O2',
 'Primus/INCO2',
 'Primus/ETCO2',
 'Primus/FEO2',
 'Primus/FIO2',
 'Primus/FIN2O',
 'Primus/FEN2O',
 'Primus/SET_FIO2',
 'Primus/SET_TV_L',
 'Primus/SET_INSP_TM',
 'Primus/SET_RR_IPPV',
 'Primus/SET_INTER_PEEP',
 'Primus/SET_PIP',
 'Primus/SET_INSP_PAUSE',
 'Primus/SET_FRESH_FLOW',
 'Primus/SET_AGE',
 'Primus/SET_FLOW_TRIG',
 'Orchestra/RFTN20_RATE',
 'Orchestra/RFTN20_VOL',
 'Orchestra/RFTN20_CP',
 'Orchestra/RFTN20_CE',
 'Orchestra/RFTN20_CT',
 'BIS/EEG1_WAV',
 'BIS/EEG2_WAV',
 'BIS/SR',
 'BIS/SEF',
 'BIS/BIS',
 'BIS/TOTPOW',
 'BIS/EMG',
 'BIS/SQI']

In [4]:
vf2 = vitaldb.VitalFile('4.vital')

In [5]:
req_cols_list=['SNUADC/ART','SNUADC/ECG_II','Solar8000/VENT_RR',
 'Solar8000/VENT_MV',
 'Solar8000/VENT_TV','Orchestra/RFTN20_RATE',
 'Orchestra/RFTN20_VOL']

In [6]:
vf = vitaldb.VitalFile(len(req_cols_list), req_cols_list)

samples = vf.to_numpy(req_cols_list, len(req_cols_list)/100)
samples[2000]

array([-3.8724  ,  0.573499,       nan,       nan,       nan,       nan,
             nan], dtype=float32)

In [7]:
import pandas as pd
df = pd.DataFrame(samples)

In [8]:
df.head()

         0        1   2   3   4   5   6
0 -2.88494 -1.06568 NaN NaN NaN NaN NaN
1      NaN      NaN NaN NaN NaN NaN NaN
2      NaN      NaN NaN NaN NaN NaN NaN
3      NaN      NaN NaN NaN NaN NaN NaN
4      NaN      NaN NaN NaN NaN NaN NaN

In [9]:
print(f"Number of non-NULL values: {-df.isna().sum().sum() + df.size} | Total Number of Values: {df.size}")
print(f"Ratio of Non-NULL values to total number of values: {(-df.isna().sum().sum() + df.size)*100//(df.size)}%")

Number of non-NULL values: 504822 | Total Number of Values: 1576925
Ratio of Non-NULL values to total number of values: 32%

In [10]:
print(f"Nan percentage per column:\n {((df.isna().sum()/df.shape[0])*100)}")

Nan percentage per column:
 0     0.096327
1     0.096327
2    96.915326
3    96.915326
4    96.931750
5    92.476751
6    92.476751
dtype: float64

In [11]:
columns_with_all_nan = df.columns[df.isna().all()]
columns_with_all_nan

Int64Index([], dtype='int64')

In [12]:
df_filled = df.fillna(method='ffill')
df_filled

              0         1    2    3      4    5       6
0      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
1      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
2      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
3      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
4      -2.88494 -1.065680  NaN  NaN    NaN  NaN     NaN
...         ...       ...  ...  ...    ...  ...     ...
225270 -5.84731 -0.048599  4.0  0.4  151.0  0.0  88.722
225271 -5.84731 -0.058473  4.0  0.4  151.0  0.0  88.722
225272 -4.85986 -0.048599  4.0  0.4  151.0  0.0  88.722
225273 -4.85986 -0.048599  4.0  0.4  151.0  0.0  88.722
225274 -5.84731 -0.048599  4.0  0.4  151.0  0.0  88.722

[225275 rows x 7 columns]

In [13]:
df_filled = df_filled.dropna()
df_filled

              0         1    2    3      4      5       6
18353   3.03980 -0.048599  0.0  0.0  893.0  400.0   0.843
18354   3.03980 -0.038724  0.0  0.0  893.0  400.0   0.843
18355   3.03980 -0.038724  0.0  0.0  893.0  400.0   0.843
18356   3.03980 -0.048599  0.0  0.0  893.0  400.0   0.843
18357   3.03980 -0.028849  0.0  0.0  893.0  400.0   0.843
...         ...       ...  ...  ...    ...    ...     ...
225270 -5.84731 -0.048599  4.0  0.4  151.0    0.0  88.722
225271 -5.84731 -0.058473  4.0  0.4  151.0    0.0  88.722
225272 -4.85986 -0.048599  4.0  0.4  151.0    0.0  88.722
225273 -4.85986 -0.048599  4.0  0.4  151.0    0.0  88.722
225274 -5.84731 -0.048599  4.0  0.4  151.0    0.0  88.722

[206922 rows x 7 columns]

In [14]:
print(f"Nan percentage per column:\n {((df_filled.isna().sum()/df_filled.shape[0])*100)}")

Nan percentage per column:
 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
dtype: float64

In [15]:
import numpy as np
import pandas as pd
from keras.models import Model
from keras.layers import Input, Embedding, Conv1D, LSTM, MaxPooling1D, Flatten, Dense
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split


X = df_filled.iloc[:, 5:7].values

# Padding the input sequences to a larger length
X = pad_sequences(X, maxlen=10)

X = X.reshape((X.shape[0], X.shape[1], 1))

# Extract the target features Y from columns 0 to 4
Y = df_filled.iloc[:, 0:5].values

# Split the data into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Define the input layer
input_layer = Input(shape=(X.shape[1], X.shape[2]))

# Convolutional layer
conv_layer = Conv1D(filters=32, kernel_size=3, strides=1, activation='relu')(input_layer)

# Max pooling layer
pooling_layer = MaxPooling1D(pool_size=2)(conv_layer)

# LSTM layer
lstm_layer = LSTM(units=64)(pooling_layer)

# Flatten layer
flatten_layer = Flatten()(lstm_layer)

# Dense layers
dense_layer1 = Dense(units=64, activation='relu')(flatten_layer)
dense_layer2 = Dense(units=Y.shape[1], activation='softmax')(dense_layer1)


model = Model(inputs=input_layer, outputs=dense_layer2)

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])


model.fit(X_train, Y_train, epochs=10, batch_size=32)

# Evaluating the model on the test set
loss, accuracy = model.evaluate(X_test, Y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

Epoch 1/10
5174/5174 [==============================] - 23s 4ms/step - loss: 71549.7734 - accuracy: 0.9882
Epoch 2/10
5174/5174 [==============================] - 20s 4ms/step - loss: 204472.0000 - accuracy: 0.9887
Epoch 3/10
5174/5174 [==============================] - 20s 4ms/step - loss: 338709.4688 - accuracy: 0.9887
Epoch 4/10
5174/5174 [==============================] - 20s 4ms/step - loss: 479457.6875 - accuracy: 0.9887
Epoch 5/10
5174/5174 [==============================] - 19s 4ms/step - loss: 634140.8750 - accuracy: 0.9887
Epoch 6/10
5174/5174 [==============================] - 20s 4ms/step - loss: 794251.5625 - accuracy: 0.9887
Epoch 7/10
5174/5174 [==============================] - 19s 4ms/step - loss: 966192.8125 - accuracy: 0.9887
Epoch 8/10
5174/5174 [==============================] - 20s 4ms/step - loss: 1148813.3750 - accuracy: 0.9887
Epoch 9/10
5174/5174 [==============================] - 20s 4ms/step - loss: 1340165.7500 - accuracy: 0.9887
Epoch 10/10
5174/5174 [==============================] - 19s 4ms/step - loss: 1539329.3750 - accuracy: 0.9887
1294/1294 [==============================] - 2s 2ms/step - loss: 1639389.0000 - accuracy: 0.9887
Test Loss: 1639389.0000
Test Accuracy: 0.9887